 @import url('https://fonts.googleapis.com/css2?family=Carattere&family=Dancing+Script:wght@400;500&family=Playfair+Display:ital@1&family=Poppins:wght@600&family=Sevillana&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/free-photo/wooden-board-empty-table-top-blurred-background_1253-1584.jpg?size=626&ext=jpg&ga=GA1.1.481864328.1703681927&semt=ais') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #ffffff; /* Set text color to be visible against the background */
}


.background-image{
    background-image : url('C:\Users\sride\OneDrive\Desktop\Oasis infobyte\cafe34.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    max-width: 80vw ;
}
.navbar{
    display: flex ;
    height: 67px;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
}
.navbar li {
    list-style : none;
    margin : 0 12px ;
}
.topleft{
    width: 50%;
    height:50vh ;

}

.topright{
    width:20% ; 
    height:20vh  ;

}
.section1{
    height: 50vh ;
}

.large-text {
    font-size: 45px; /* Adjust the size as needed */
    font-weight: bolder; /* Optional: add bold style */
    color:#fff; /* Optional: set text color */
  }
.btn{
    padding : 7px 12px ;
    border : 2px solid white ;
    border-radius : 6px ;
    color: white;
    cursor:pointer;
    background-color: rgb(67,67, 216);
}

.logo{
    font-size: 1.3rem ;

}


.menu-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 17px; /* Adjust the size as needed */
    font-weight: bolder; /* Optional: add bold style */
    color: #333; /* Optional: set text color */

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.middleleft{
    shape-image-threshold: inherit;
}

